.header-div{
	margin-top:10px;
}
.red-bag-title{
	color: #fff;
	margin:0 auto;
	text-align: center;
	font-weight: normal;
}
.split-line{
	width: 245px;
	border-bottom:1px solid #fff;
	margin:10px auto;
	margin-bottom: 30px;

}